<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Website Penggalangan Dana untuk Ijat</title>
        <link rel="stylesheet" th:href="@{style.css}">
    </head>

    <body>
        <div class="container">
            <h1>Form Donasi</h1>
            <form action="#" th:action="@{/form-donasi}" th:object="${formDonasi}" method="post">
                <div class="field">Nama: <input type="text" th:field="*{nama}" /></div>
                <div class="field">Jumlah donasi: <input type="text" th:field="*{jumlahDonasi}" /></div>
                <div class="field">Asal daerah: <input type="text" th:field="*{asalDaerah}" /></div>
                <div class="button-container">
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </body>
</html>