<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Website Penggalangan Dana untuk Ijat</title>
        <link rel="stylesheet" th:href="@{style.css}">
    </head>

    <body>
        <div class="container">
            <h1 th:text=="'Jumlah donasi yang terkumpul saat ini ' + ${totalDonasi}"></h1>
            <h2 th:text="'Jumlah donasi yang terkumpul saat ini ' + ${totalDonatur}"></h2>
            <div class="button-container">
                <a href="/"><button>Halaman utama</button></a>
                <a href="/daftar-donatur"><button>Lihat daftar donatur</button></a>
            </div>
        </div>
    </body>
</html>
